
@font-face {
    font-family: Poppins Regular;
    src: url('PoppinsRegular.ttf');
}

@font-face {
    font-family: Poppins Thin;
    src: url('PoppinsThin.ttf');
}

.background {
    -fx-background-color: #ffffff;
}

.right-panel {
    -fx-background-color: #fdfdfd;
}

.left-panel {
    -fx-background-color: #ffffff;
}

.status {
    -fx-background-color: #000000;
}

.detailed-background {
    -fx-background-color: #ffffff;
    -fx-background-insets: 40 20 180 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0.5,0.5,0.5,0.5), 10, 0, 0, 0);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-big {
    -fx-font-size: 40px ;
    -fx-font-family: "Poppins Thin";
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-alignment: center;
    -fx-translate-y: 50;
}

.label-details {
    -fx-padding: 1 1 1 1;
    -fx-font-family: "Poppins Regular";
}

.label-side {
    -fx-font-family: "Poppins Regular";
    -fx-padding: 3 3 3 3;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
    -fx-font-size: 12;
    -fx-pref-height: 30;
    -fx-pref-width: 170;
    -fx-alignment: center;
    -fx-font-weight: 20;
    -fx-translate-x: -50;
}


.label-label {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 20px;
    -fx-text-fill: #5f66b9;
    -fx-alignment: center;
    -fx-translate-x: 50;
    -fx-translate-y: 50;
}

.label-detail {
    -fx-translate-y: 50;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 300;
    -fx-background-color: #ffffff;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: #f6f6f6;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: white;
}

.tab-pane .tab:selected {
    -fx-background-color: #ff605c;
}

.tab {
    -fx-background-color: #5f66b9;
    -fx-background-radius: 10 10 10 10;
    -fx-focus-color: transparent;
    -fx-pref-height: 35;
    -fx-pref-width: 320;
    -fx-background-insets: 0 4 0 4,0,0,0;
}
.tab .tab-label {
    -fx-text-fill: #ffffff;
    -fx-pref-width: 140;
    -fx-font-size: 13pt;
    -fx-font-family: sans-serif;
}

.list-view .list-background {
    -fx-background-color: white;
}


.list-view {
    -fx-background-insets: 0;
    -fx-background-color: #fdfdfd;

}

.list-cell {
    -fx-padding: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0.5,0.5,0.5,0.5), 10, 0, 0, 0);
    -fx-graphic-text-gap : 0px;
    -fx-background-insets: 0px, 2px ;
    -fx-border-insets: 5px;
    -fx-background-insets: 12px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;

}

.list-cell:filled {
    -fx-background: #fdfdfd;
}


.list-cell:filled:selected #cardPane {
    -fx-border-color: #ffffff;
}

.list-cell .label {
    -fx-text-fill: black;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.cell_big_label {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
}

.cell_small_label {
    -fx-font-family: "Poppins thin";
    -fx-font-size: 14px;
    -font-weight:4;
    -fx-text-fill: #000000;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 5;
}


.status-bar {
    -fx-background-color: #f0f0f0;
}

.result-display {
    -fx-background-color: white;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.result-display .background {
    -fx-background-color: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: sans-serif;
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.grid-pane .stack-pane {
    -fx-background-color: #ffffff;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #ffffff;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: sans-serif;
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}


#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #ffffff transparent #ffffff;
    -fx-font-family: sans-serif;
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #ffffff;
    -fx-font-family: "Poppins Regular";
    -fx-background-insets: 10;
}


.tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.tags .label {
    -fx-text-fill: white;
    -fx-background-color: #ff605c;
    -fx-padding: 3 3 3 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 20;
}
.tab-down-button {
-fx-padding: 0;
}

.tab-down-button .arrow {
-fx-padding: 0;
}

.attributes.label  {
    -fx-text-fill: white;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 13;
}


